FLASK_ENV=development
PORT=5000
HOST=0.0.0.0
MODEL_PATH=../Extracted Model/heart_disease_prediction_model.pkl
METADATA_PATH=../Extracted Model/model_metadata.json
DATABASE_PATH=models/predictions_history.db
